<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asher.messagemaster"
      xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.asher.messagemaster.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.asher.messagemaster.TimingMessageSet"  >      
        </activity>
           <activity
            android:name="com.asher.messagemaster.TimingMessageSetSendTime"  >      
        </activity>
           <activity
            android:name="com.asher.messagemaster.TimingMessageSetToWho"  >      
        </activity>
           <activity
            android:name="com.asher.messagemaster.TimingMessageSetContent"  >      
        </activity>
                   <activity
            android:name="com.asher.messagemaster.MessageTaskSent"  >      
        </activity>
        
        <activity
            android:name="com.asher.messagemaster.TimingMessageTaskListActivity"  >      
        </activity>
             <receiver 
         android:name="com.asher.messagemaster.MessageMatserReciver"
          tools:ignore="ExportedReceiver"
         >            
     <intent-filter>               
      <action android:name="ASHER_TIMING_MSG_SEND_ACTION" />
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      
      </intent-filter>       
       </receiver>
        
        
    </application>

</manifest>
